input[type="submit"]{
    background-color: #0000000c;
    color: rgb(0, 0, 0);
    border-color: #0000000c;
    padding: 5px 20px;
}
input[type="submit"]:hover{
    background-color: #000000a6;
    color: rgb(255, 255, 255);
    border-color: #0000000c;
}